#video{
    width: 720px;
    margin: 20px auto;
    background: cornflowerblue;
    padding: 5px;
    border: 2px solid blue;
    border-radius: 8px;
    box-shadow: grey 3px 3px 3px;
}

nav{
    margin: 5px 0;
}

#botones{
    float: left;
    width: 100px;
    height: 20px;
}

#barra{
    background: white;
    width: 600px;
    height: 16px;
    border: 1px solid grey;
    padding: 3px;
    margin-left: 80px;
}

#progreso{
    /*position: absolute;*/
    width: 0px;
    height: 16px;
    background: black;

}